include *.py
include *.txt
exclude *.lightning
exclude *.gridignore
exclude *wandb*
recursive-exclude quick_start *.gridignore


recursive-include images *.jpeg
include quick_start/train/demo_weights
include demo_weights

# exclude tests from package
recursive-exclude tests *

exclude .pre-commit-config.yaml