---
apiVersion: v1
data:
  ClientID: <>
  ClientSecret: <>
  ResourceGroup: <>
  SubscriptionID: <>
  TenantID: <>
  VMType: dm1zcw==
kind: Secret
metadata:
  name: cluster-autoscaler-azure
  namespace: kube-system
