apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: manager
        args:
        - "--config=operator_config.yaml"
        volumeMounts:
        - name: operator-config
          mountPath: /operator_config.yaml
          subPath: operator_config.yaml
      volumes:
      - name: operator-config
        configMap:
          name: operator-config
